* {
     -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}


/*NAVE STYLES
    ---------------------------------------
    */

.navbar
{
    min-height:55px;
    border-radius:none; 
}

/* Header Styles
    ----------------------------------------
    */
.container-fluid
{
    width:100%;
    margin-left:25%;
}


/*CONTENT
    --------------------------------    
    */
.content
{
    margin-left:25%; 
}



/* Aside-1 styles
    -----------------------------------------
    */
.aside-1
{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:25%;
    background:#ededed;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
     position: relative;
    min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin: 0 auto;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}



/* Helper Styels
    ==========================
    */
.left
{
    float:left;
}

.right
{
    float: right;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer .container {
    margin: 0 auto;
    padding: 25px 15px 0 0;
}
#footer .container .text-muted {
    margin: 20px 0;
}

#header {
    background-color: #cdcdcd;
    height: 100px;
}
