* {
     -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}


/*NAVE STYLES
    ---------------------------------------
    */

.navbar
{
    min-height:55px;
    border-radius:none; 
}

/* Header Styles
    ----------------------------------------
    */
.container-fluid
{
    width:100%;
    margin-left:25%;
}


/*CONTENT
    --------------------------------    
    */
.content
{
    margin-left:25%; 
}



/* Aside-1 styles
    -----------------------------------------
    */
.aside-1
{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:25%;
    background:#ededed;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin: 0 auto;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}



/* Helper Styels
    ==========================
    */
.left
{
    float:left;
}

.right
{
    float: right;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer .container {
    margin: 0 auto;
    padding: 25px 15px 0 0;
}
#footer .container .text-muted {
    margin: 20px 0;
}

#header {
    background-color: #cdcdcd;
    height: 100px;
}

/* MODAL CSS */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
}
.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}
