<form name="loginForm" id="loginForm" ng-submit="login(credentials)" novalidate>
    <div class="loginInput">
        <label for="username">Username:</label>
        <input type="text" id="username"
               ng-model="credentials.username" />
    </div>
    <div class="loginInput">
        <label for="password">Password:</label>
        <input type="password" id="password"
               ng-model="credentials.password" />
    </div>
    <button type="submit">Login</button>
    <a style="margin-left: 10px">Forgot Password?</a>
</form>
