<div class='ng-modal' ng-show='registerShown'>
    <div class='ng-modal-overlay' ng-click='hideRegister'></div>
    <div class='ng-modal-dialog' ng-style='registerStyle'>
        <div class='ng-modal-close' ng-click='hideRegister()'>X</div>
        <div class='ng-modal-dialog-content' ng-transclude>
            <form name="registerForm" id="registerForm" ng-submit="register(credentials)" validate>
                <div class="loginInput">
                    <label for="userName">Username:</label>
                    <input type="text"id="registerUserName" value="rvbmrdonut"
                           ng-model="credentials.userName"/>
                </div>
                <div class="loginInput">
                    <label for="password">Password:</label>
                    <input type="password" id="registerPassword" value="pass123"
                           ng-model="credentials.password"/>
                </div>
                <div class="loginInput">
                    <label for="email">Email:</label>
                    <input type="email" id="registerEmail" value="123@gmail.com"
                           ng-model="credentials.email"  />
                </div>
                <div class="loginInput">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="registerFirstName" value="Matthew"
                           ng-model="credentials.firstName"  />
                </div>
                <div class="loginInput">
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="registerLastName" value="Hartz"
                           ng-model="credentials.lastName"  />
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
